@media (max-width: 576px) {
    .modal-dialog {
        width: 100% !important;
        max-width: 100% !important;
        margin: 0 auto !important;
        padding: 0;
    }

    .modal-content {
        border-radius: 0;
    }
}
