        <!-- Team-->
<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center" style="padding-bottom: 3rem;">
            <h2 class="section-heading text-uppercase" style="font-weight: bold">Our Amazing Team</h2>
            @* <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> *@
        </div>
        <div class="row" style="padding-bottom: 3rem;">
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/images/PBL_TrinhMinhDat.jpg" alt="..." />
                    <h4>Trinh Minh Dat</h4>
                    <p class="text-muted">Backend Developer</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!" target="_blank" aria-label="Parveen Anand Twitter Profile"><i class="fab fa-github"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/trinh.minh.at.634981" target="_blank" aria-label="Parveen Anand Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" target="_blank" aria-label="Parveen Anand LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/images/PBL_NguyenQuangAnh.jpg" alt="..." />
                    <h4>Nguyen Quang Anh</h4>
                    <p class="text-muted">Backend Developer</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!" target="_blank" aria-label="Diana Petersen Twitter Profile"><i class="fab fa-github"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/nguyen.takasugi" target="_blank" aria-label="Diana Petersen Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" target="_blank" aria-label="Diana Petersen LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/images/PBL_LuongVanVo.jpg" alt="..." />
                    <h4>Luong Van Vo</h4>
                    <p class="text-muted">Frontend Developer</p>
                    <a class="btn btn-dark btn-social mx-2" href="https://github.com/LuongVanVo" target="_blank" aria-label="Larry Parker Twitter Profile"><i class="fab fa-github"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/voluong.2309" target="_blank" aria-label="Larry Parker Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/vo-luong-570a272aa/" target="_blank" aria-label="Larry Parker LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom: 5rem;">
            <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Meet our dedicated professionals who bring innovation and expertise to every project. Our talented team members combine diverse backgrounds and skills to deliver exceptional results. Together, we're committed to excellence and passionate about creating successful solutions for our clients.</p></div>
        </div>
    </div>
</section>
<style>
    .team-member img {
        width: 14rem;
        height: 14rem;
        border: 0.5rem solid rgba(0, 0, 0, 0.1);
    }

    .row .col-lg-4 {
        text-align: center;
    }

    h4 {
        font-weight: bold;
    }

    .col-lg-4 h4 {
        padding-top: 1em;
    }
</style>